.whatsapp-contact-wrapper {
  position: fixed;
  bottom: 0;
  right: 0;
  transform: translateX(-20px);
  min-width: 5rem;
  min-height: 10rem;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.whatsapp-contact-item {
  width: 3.5rem;
  /* height: 3.5rem; */
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.whatsapp-contact-item svg{
    font-size: 28px;
    color: white;
    cursor: pointer;
}
@media screen and (min-width:1024px) {
  .whatsapp-contact-wrapper {
    transform: translateX(0);
  }
}